body {
  background-color: #6745CF;
}

.menu-superior {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EEEAFB;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.imagem-logo {
  width: 50px;
}

.menu-superior .logo h2 {
  color: #1D0D56;
  margin-left: 1rem;
  font-weight: bold;
}

.menu-superior .informacoes ul {
  margin-right: 8rem;
  display: flex;
  gap: 3rem;
}

.menu-superior .informacoes ul li a {
  color: #1D0D56;
  font-size: 1.2rem;
  transition: font-size 0.3s ease;
}

.menu-superior .informacoes ul li a:hover {
  font-size: 1.4rem;
  background-color: #fff;
}

.main {
  display: flex;
  margin-top: 5rem;
}

.descricao {
  margin-left: 8rem;
  width: 40%;
}

.procedimentos img.saude {
  position: relative;
  height: 350px;
  width: 500px;
  left: 15%;
  top: 70%;
}

.procedimentos img.emagrecimento{
  width: 500px;
  position: absolute;
  left: 72%;
  top: 18%;
  z-index: -2;
}

.descricao h1{
  color: #F2F0FD;
  text-transform: uppercase;
  line-height: 2.5rem;
}

.descricao p {
  color: #AA91E4;
  margin-top: 1.5rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
}


.main .botoes {
  display: flex;
  gap: 1rem;
}

.main hr {
  margin-top: 4rem;
}


.main .botoes button{
  cursor: pointer;
  margin-top: 6rem;
  width: 10rem;
  height: 3rem;
  background-color: #331F64;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #000;
}

.main .botoes button a {
  color: #fff;
  font-size: 1rem;
}

.main .botoes button:hover,
a:hover{
  color: #331F64;
  background-color: #AA91E4;
}


.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
  margin-left: 8rem;
  width: 30%;
}

.footer h2 {
  color: #F2F0FD;
}

.footer p{
  color: #AA91E4;
  margin-top: .8rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

button:active {
  box-shadow: box-shadow 7px 6px 28px 1px rgba(0,0,0, 0.24);
  transform: translateY(4px);
}



